MVCSampleFinal/Web/MvcSample/.vs/MvcSample/FileContentIndex/5cded66a-48f8-47bf-a232-fb9de1e1ce4a.vsidx
MVCSampleFinal/Web/MvcSample/.vs/MvcSample/FileContentIndex/8bdabb6d-6292-411b-8c10-23d09a4520e9.vsidx
MVCSampleFinal/Web/MvcSample/.vs/MvcSample/FileContentIndex/962a37e4-5f36-44f2-984e-8b4d2bcaa928.vsidx
MVCSampleFinal/Web/MvcSample/.vs/MvcSample/copilot-chat/2eceea7d/sessions/7b390743-2672-4ef6-add6-c459aa6fbf8f
MVCSampleFinal/Web/MvcSample/.vs/MvcSample/FileContentIndex/047d5ac1-20df-41b9-8083-ab0df0769b27.vsidx
MVCSampleFinal/Web/MvcSample/.vs/MvcSample/FileContentIndex/e61becff-532a-4349-924a-7825239c8cee.vsidx
