MVCSampleFinal/Web/MvcSample/.vs/MvcSample/FileContentIndex/5cded66a-48f8-47bf-a232-fb9de1e1ce4a.vsidx
MVCSampleFinal/Web/MvcSample/.vs/MvcSample/FileContentIndex/8bdabb6d-6292-411b-8c10-23d09a4520e9.vsidx
MVCSampleFinal/Web/MvcSample/.vs/MvcSample/FileContentIndex/962a37e4-5f36-44f2-984e-8b4d2bcaa928.vsidx
MVCSampleFinal/Web/MvcSample/.vs/MvcSample/copilot-chat/2eceea7d/sessions/7b390743-2672-4ef6-add6-c459aa6fbf8f
MVCSampleFinal/Web/MvcSample/.vs/MvcSample/FileContentIndex/047d5ac1-20df-41b9-8083-ab0df0769b27.vsidx
MVCSampleFinal/Web/MvcSample/.vs/MvcSample/FileContentIndex/e61becff-532a-4349-924a-7825239c8cee.vsidx
MVCSampleFinal/Web/MvcSample/.vs/MvcSample/FileContentIndex/292cb18d-57ce-4e42-852f-1f5d37a32212.vsidx
MVCSampleFinal/Web/MvcSample/.vs/MvcSample/FileContentIndex/59aa77ec-846c-48b8-bdd6-87611cde8681.vsidx
MVCSampleFinal/Web/MvcSample/.vs/MvcSample/FileContentIndex/69e3eadd-0e2f-45b5-9c3f-b29b61944abb.vsidx
MVCSampleFinal/Web/MvcSample/.vs/MvcSample/FileContentIndex/82846c75-46b0-43d7-b742-c24141e45ebd.vsidx
MVCSampleFinal/Web/MvcSample/.vs/MvcSample/FileContentIndex/a6d2aaa7-08f8-4063-bd4c-39b53c4a760e.vsidx
