
@{
    ViewData["Title"] = "Milk Page";
}


<div class="text-center">
    <h1 class="display-4">Milk</h1>
    <p>@Model.Litters</p>
    <p>@Model.ExpirationDate</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
